<!-- Placeholder -->
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col">
      <img src="/assets/images/burger.png">
      <h1>Eat-Da-Burger!</h1>
    </div>
  </div>


  <div class="row">
    <div class="col-6 new">
      <ul>
        {{#each burger}}
        {{#unless devoured}}
        {{> burgers/burger-block eaten=false}}
        {{/unless}}
        {{/each}}
      </ul>
    </div>

    <div class="col-6 devoured">
      <ul>
        {{#each burger}}
        {{#if devoured}}
        {{> burgers/eaten-block eaten=true}}
        {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-10 input">
      {{!-- <input class="submit-burger"  maxlength="50" type="text"> --}}
      <textarea class="burger-textarea" id="burgs" name="choice"></textarea>
      <br>
      <button type="submit" class="btn btn-primary">Submit</button>
      <p>Enter a burger you want to eat and Click the "Submit" button</p>
    </div>
  </div>
</div>