body{
    background-color: #f5c93b;
}

p {
    color: black;
}

h1 {
    color: red;
}

p, h1 {
    font: helvetica, sans-serif;
}

.input {
    position: justified;
}

li {
    text-decoration: none;
    background-color: #ffffff;
}
