.container {
    margin-top: 3rem;
}
body { 
    text-align: center !important;
    background-color: #f5c93b !important;
}

p {
    color: black;
}

h1 {
    color: red;
}

p, h1 {
    font: helvetica, sans-serif;
}

.input {
    position: justified;
}

ol {
    padding: 1rem 1rem 1rem 1rem !important;
}

li {
    text-align: left;
    list-style: none;
    background-color: #ffffff;
}

button {
    box-align: right !important;
}
